{
  "swagger": "2.0",
  "info": {
    "title": "Paper",
    "description": "This is an paper for all my paper entries. I use a single paper system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "paper.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/paper/": {
      "get": {
        "summary": "all papers",
        "description": "all papers",
        "operationId": "getPapers",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paper response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/paper"
              }
            }
          }
        },
        "tags": [
          "Paper"
        ]
      },
      "post": {
        "summary": "add a paper post",
        "description": "add a paper post",
        "operationId": "addPaper",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the paper originated from",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the paper",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paper response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/paper"
              }
            }
          }
        },
        "tags": [
          "Paper"
        ]
      }
    },
    "/paper/{paper_id}/": {
      "get": {
        "summary": "Retrieve a paper using its slug",
        "description": "Returns the paper detail",
        "operationId": "getPaper",
        "parameters": [
          {
            "name": "paper_id",
            "in": "path",
            "description": "the unique id for paper entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paper response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/paper"
              }
            }
          }
        },
        "tags": [
          "Paper"
        ]
      },
      "put": {
        "summary": "update paper",
        "description": "update paper",
        "operationId": "updatePaper",
        "parameters": [
          {
            "name": "paper_id",
            "in": "path",
            "description": "the unique id for paper entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the paper was posted",
            "required": false,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "body of the paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "footer of the paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "build_page",
            "in": "query",
            "description": "whether or not this paper post needs page built",
            "required": false,
            "type": "integer"
          },
          {
            "name": "show_on_site",
            "in": "query",
            "description": "Whether or not this paper post will show on any site",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "paper response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/paper"
              }
            }
          }
        },
        "tags": [
          "Paper"
        ]
      },
      "delete": {
        "summary": "delete paper",
        "description": "delete paper",
        "operationId": "deletePaper",
        "parameters": [
          {
            "name": "paper_id",
            "in": "path",
            "description": "the unique id for paper entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paper response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/paper"
              }
            }
          }
        },
        "tags": [
          "Paper"
        ]
      }
    },
    "/paper/{paper_id}/tags/": {
      "get": {
        "summary": "paper tags",
        "description": "paper tags",
        "operationId": "getpaperTags",
        "parameters": [
          {
            "name": "paper_id",
            "in": "path",
            "description": "id for paper",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Paper Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to paper",
        "description": "add tag to paper",
        "operationId": "addPaperTag",
        "parameters": [
          {
            "name": "paper_id",
            "in": "path",
            "description": "id for the paper",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Paper Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/paper/{paper_id}/tags/{tag}": {
      "delete": {
        "summary": "delete paper tag",
        "description": "delete paper tag",
        "operationId": "deletepaperTag",
        "parameters": [
          {
            "name": "paper_id",
            "in": "path",
            "description": "id for the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from paper",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Paper Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/paper/component/": {
      "post": {
        "summary": "add paper component",
        "description": "add paper component",
        "operationId": "addPaperComponent",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "paper_id",
            "in": "formData",
            "description": "the id for the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name of the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "type of paper",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_order",
            "in": "formData",
            "description": "sort order for the paper",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Paper Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/paper"
              }
            }
          }
        },
        "tags": [
          "Paper"
        ]
      }
    },
    "/paper/{paper_id}/components/": {
      "get": {
        "summary": "get paper components",
        "description": "get paper components",
        "operationId": "getPaperComponent",
        "parameters": [
          {
            "name": "paper_id",
            "in": "path",
            "description": "the id for the paper",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Paper Components Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/paper"
              }
            }
          }
        },
        "tags": [
          "Paper"
        ]
      }
    },
    "/paper/tags/": {
      "get": {
        "summary": "get tags",
        "description": "get tags",
        "operationId": "getTags",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paper response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/paper"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "put": {
        "summary": "update tag",
        "description": "update tag",
        "operationId": "updateTag",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "formData",
            "description": "tag to update",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paper response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tag"
        ]
      },
      "delete": {
        "summary": "delete tag",
        "description": "delete tag",
        "operationId": "deleteTag",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "the tag to remove",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the paper",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the paper",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paper response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/paper"
              }
            }
          }
        },
        "tags": [
          "Tag"
        ]
      }
    }
  },
  "definitions": {
    "paper": {
      "properties": {
        "paper_id": {
          "description": "unique id of the paper",
          "type": "integer",
          "format": "id"
        },
        "post_date": {
          "description": "date the paper was posted",
          "type": "string"
        },
        "title": {
          "description": "ttle for the paper",
          "type": "string"
        },
        "author": {
          "description": "author of the paper",
          "type": "string"
        },
        "summary": {
          "description": "summary for the paper",
          "type": "string"
        },
        "body": {
          "description": "full body text of the paper",
          "type": "string"
        },
        "footer": {
          "description": "footer text for the paper",
          "type": "string"
        },
        "status": {
          "description": "status of the paper",
          "type": "string"
        },
        "build_page": {
          "description": "Whether or not this paper post will show on any site",
          "type": "integer",
          "format": "id"
        },
        "show_on_site": {
          "description": "curated id the paper originated from",
          "type": "integer",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}
